<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')"/>
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body class="gray-bg">
<form action="/baohan/gurtOrder/shangchuan" method="post">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            搜索：<input type="text" name="warrantee"/>
                        </li>


                        <li>
                            提交状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${statusList}" th:text="${dict.statusName}"
                                    th:value="${dict.id}"></option>
                        </select>
                        </li>


                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="test()" shiro:hasPermission="baohan:gurtOrder:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="baohan:gurtOrder:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="baohan:gurtOrder:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="baohan:gurtOrder:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <div class="form-group" style="display: inline-block;">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-white btn-file"><span class="fileinput-new">上传招标</span><span class="fileinput-exists">更改</span>
                        <input type="file" name="file"></span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                </div>
            </div>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="shangchuan()"
               shiro:hasPermission="baohan:gurtOrder:remove">
                <i class="fa fa-remove"></i> 点击上传
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
</form>
<input type="hidden" name="role" th:value="${role}">
<div th:include="include :: footer"></div>
<th:block th:include="include :: jasny-bootstrap-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('baohan:gurtOrder:edit')}]];
    var removeFlag = [[${@permission.hasPermi('baohan:gurtOrder:remove')}]];
    var submitFlag = [[${@permission.hasPermi('baohan:gurtOrder:submit')}]];
    var exitFlag = [[${@permission.hasPermi('baohan:gurtOrder:exit')}]];
    var prefix = ctx + "baohan/gurtOrder";

    function shangchuan() {
        $("form").submit();
        /*$.post("/baohan/gurtOrder/shangchuan",function () {

            
        },"TEXT");*/
    }
    
    function test() {
        $.modal.open("添加订单", "/baohan/gurtOrder/add", 1500);
    }
    function test2(id) {
        $.modal.open("修改订单", "/baohan/gurtOrder/edit/"+id, 1500);
    }

    $(function () {
        var role = $("[name=role]").val();
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "订单",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'warrantee',
                    title: '被保证人',
                    sortable: true
                },
                {
                    field: 'beneficiary',
                    title: '受益人',
                    sortable: true
                },
                {
                    field: 'projectNumber',
                    title: '项目编号',
                    sortable: true
                },
                {
                    field: 'projectName',
                    title: '项目名称',
                    sortable: true
                },
                {
                    field: 'closingTime',
                    title: '截标日期',
                    sortable: true
                },
                {
                    field: 'guaranteeAmount',
                    title: '担保金额',
                    sortable: true
                },
                {
                    field: 'validityDeadline',
                    title: '有效期',
                    sortable: true
                },
                {
                    field: 'guaranteeId',
                    title: '保函格式',
                    sortable: true
                },
                {
                    field: 'bankId',
                    title: '贷款银行',
                    sortable: true
                },
                {
                    field: 'projectTypeId',
                    title: '项目分类',
                    sortable: true
                },
                {
                    field: 'amount',
                    title: '应付金额',
                    sortable: true
                },
                {
                    field: 'createUserId',
                    title: '处理人',
                    sortable: true
                },
                {
                    field: 'statusName',
                    title: '订单状态',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (role == 1) {
                            if (row.statusName == "已撤销") {
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                            }
                            if (row.statusName == "已提交银行") {
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                            }
                            if (row.statusName == "待处理") {
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatus/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>提交银行</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                            }
                            if (row.statusName == "待接收") {
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="/baohan/gurtOrder/modifystatus/' + row.id + '" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>接受</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                            }
                            if (row.statusName == "待提交") {
                                actions.push('<a class="btn btn-danger btn-xs ' + submitFlag + '" href="/baohan/gurtOrder/modifystatus/' + row.id + '")"><i class="fa fa-remove"></i>提交</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                            }
                        }else if(role==0){
                            if (row.statusName == "已撤销") {
                                actions.push('<a class="btn btn-danger btn-xs ' + submitFlag + '" href="/baohan/gurtOrder/modifystatus/' + row.id + '")"><i class="fa fa-remove"></i>提交</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                            }
                            if (row.statusName == "已提交银行") {erate.
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                            }
                            if (row.statusName == "待处理") {
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                            }
                            if (row.statusName == "待接收") {
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                            }
                            if (row.statusName == "待提交") {
                                actions.push('<a class="btn btn-danger btn-xs ' + submitFlag + '" href="/baohan/gurtOrder/modifystatus/' + row.id + '")"><i class="fa fa-remove"></i>提交</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/chakan/'+row.id+'"><i class="fa fa-remove"></i>查看</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="/baohan/gurtOrder/modifystatusche/' + row.id + '" onclick="$.operate.exit(\'' + row.id + '\')"><i class="fa fa-remove"></i>撤销</a>');
                                actions.push('<a class="btn btn-danger btn-xs ' + exitFlag + '" href="javascript:void(0)" onclick="test2(\'' + row.id + '\')"><i class="fa fa-remove"></i>编辑</a>');
                            }
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>