<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增保函')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-gurtGuarantee-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">保函格式名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label class="col-sm-3 control-label">备注：</label>
					<div class="col-sm-9">
						<textarea type="text" name="" class="form-control" placeholder="请输入文本"></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">保函：</label>
				<div class="col-sm-8">
					<div class="file-loading">
						<input class="file" type="file" multiple data-min-file-count="1" data-theme="fas">
					</div>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "baohan/gurtGuarantee"
		$("#form-gurtGuarantee-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-gurtGuarantee-add').serialize());
	        }
	    }
	</script>
</body>
</html>
