<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('修改项目基础资料')" />

	<style type="text/css">
		#u2399 div{
			display: inline-block;

		}
		#u2399{
			display: inline-block;
			width: 440px;
			text-align: center;
		}
		div{
			display: inline-block;
		}
	</style>


</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-gurtCategory-edit" th:object="${gurtCategory}">
		<h4>项目分类</h4>
		<h6><a href="/baohan/gurtCategory/addConf/0">添加项目分类</a></h6>
		<span th:if="${gurtCategory}">
			<div  id="u2399" class="ax_default" th:each="project:${gurtCategory.gurtProjectTypeList}">
				<div style="width: 440px;text-align: left;font-weight: bold" th:text="${project.name}"></div>
				<a th:href="@{'/baohan/gurtProjectTypeCostConfig/addProjectType/?id='+${project.id}+'&catId='+${catId}}">修改</a>
				<a th:href="@{'/baohan/gurtProjectTypeCostConfig/del/'+${project.id}}">删除</a>
				<br>
				<!-- Unnamed (Table Cell) -->
				<div id="u2400" class="ax_default table_cell" style="width: 200px">

					<div id="u2400_text" class="text ">
						<p><span>保函金额(元)</span></p>
					</div>
				</div>

				<!-- Unnamed (Table Cell) -->
				<div id="u2401" class="ax_default table_cell" style="width: 110px">

					<div id="u2401_text" class="text ">
						<p><span>单笔</span></p>
					</div>
				</div>

				<!-- Unnamed (Table Cell) -->
				<div id="u2402" class="ax_default table_cell" style="width: 120px">

					<div id="u2402_text" class="text ">
						<p><span>多笔</span></p>
					</div>
				</div>

				<span th:each="conf:${project.gurtProjectTypeCostConfigList}">
					<!-- Unnamed (Table Cell) -->
				<div id="u2403" class="ax_default table_cell" style="width: 200px">

					<div id="u2403_text" class="text ">
						<p><span th:text="${conf.startingAmount}"></span>-<span th:text="${conf.endingAmount}"></span></p>
					</div>
				</div>

					<!-- Unnamed (Table Cell) -->
				<div id="u2404" class="ax_default table_cell" style="width: 110px">

					<div id="u2404_text" class="text ">
						<p><span th:text="${conf.singlePaymentCost}"></span><span th:if="${conf.singlePaymentCountType==1}">%</span></p>
					</div>
				</div>

					<!-- Unnamed (Table Cell) -->
				<div id="u2405" class="ax_default table_cell" style="width: 110px">

					<div id="u2405_text" class="text ">
						<p><span th:text="${conf.multiplePaymentCost}"></span><span th:if="${conf.multiplePaymentCountType==1}">%</span></p>
					</div>
				</div>
				</span>
			</div>
</span>
	</form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "baohan/gurtCategory";
    $("#form-gurtCategory-edit").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });
    function test() {
        $.modal.open(1, "/baohan/gurtCategory/add", 1500, 800);
    }
    function submitHandler() {
		$.operate.save(prefix + "/modify", $("form").serialize());
	}

</script>
</body>
</html>
